[submodule "hangman-game"]
	path = hangman-game
	url = https://github.com/eric-lemos/hangman-game
[submodule "message-encryptor"]
	path = message-encryptor
	url = https://github.com/eric-lemos/message-encryptor
